###### Aliases  ######
if [[ "$OSTYPE" == "darwin"* ]]; then
  alias vim="/opt/homebrew/bin/nvim"  # macOS
elif [[ "$OSTYPE" == "linux-gnu"* ]]; then
  alias vim="/opt/nvim/nvim"  # Linux
fi

# Macos Automator:
# export PATH=/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin
# WINEPREFIX="/Users/ice/.wine" wine ~/.wine/drive_c/Program\ Files/GoMetaTrader7/terminal64.exe

alias ec="vim ~/Library/Application\ Support/Claude/claude_desktop_config.json"  

alias metatrader="WINEPREFIX='/Users/ice/.wine' wine ~/.wine/drive_c/Program\ Files/GoMetaTrader5/terminal64.exe"
alias shop="ssh terminal.shop"
alias iterm="open -a iTerm"
alias lg="lazygit"
alias clear_vim="rm -rf ~/.local/share/nvim  ~/.local/state/nvim  ~/.cache/nvim"
alias youtube-dl="yt-dlp -S ext" # "-S ext" will sort the mp4 formats to be ahead and should be default
alias youtube-dl_list="youtube-dl -i --yes-playlist https://www.youtube.com/playlist?list="
alias d="cd ~/projects/dotfiles"
alias ed="vim ~/projects/dotfiles/configs/zsh/.aliases"
alias ev="vim ~/projects/dotfiles/configs/nvim/.config/nvim/init.lua"
alias ..="cd .."
alias ....="cd ../../"
alias mkdir="mkdir -pv"
alias jupyterlab_docker='docker run -p 8888:8888 -e JUPYTER_ENABLE_LAB=yes -v $HOME:/home/jovyan/work jupyter/datascience-notebook start.sh jupyter lab --LabApp.token='
alias jupyterlab='jupyter lab --LabApp.token='
alias java_config='sudo update-alternatives --config java'
# accces with http://localhost:9000 
alias portainer="docker run -d -p 9000:9000 --restart always -v /var/run/docker.sock:/var/run/docker.sock -v /opt/portainer:/data portainer/portainer"
# kubernetes
alias kc="kubectx"
alias kns="kubens"
alias s="stern"
alias obsvirt="sudo modprobe -r v4l2loopback;obs"
alias update_go="go install golang.org/x/tools/gopls@latest"

###### OS Specific ######
if [[ "$OSTYPE" == "darwin"* ]]; then
    export LC_ALL=en_US.UTF-8 # was required for macos
fi

if [[ "$OSTYPE" == "linux-gnu"* ]]; then
    alias bat="batcat" # command is batcat if you are on Debian or Ubuntu
fi

alias yabai_windows="yabai -m query --windows"
alias yabai_start="yabai &; disown"

alias tiling="yabai --start-service;skhd --start-service"
alias tiling_stop="yabai --stop-service;skhd  --stop-service"

###### Environment Variables ######
# dotnet core, opt out of dotnet telemetry data
export DOTNET_CLI_TELEMETRY_OPTOUT='true' 
# History Size
export HISTSIZE=10000

     ### RibGrep and FZF ###
# See refence: https://dev.to/matrixersp/how-to-use-fzf-with-ripgrep-to-selectively-ignore-vcs-files-4e27
# using 'bat' with color as a preview for 'fzf'
export FZF_DEFAULT_OPTS="--ansi --preview-window 'right:60%' --preview 'bat --color=always --style=header,grid --line-range :300 {}'"
export FZF_DEFAULT_COMMAND='rg --files --hidden --follow'
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
# alias fz="rg --files --hidden --follow -g '!{node_modules,.git}' | fzf"
# scripts or symlinked to this location and it is not in path in macos
export PATH="$PATH:$HOME/.local/bin"

###### General Settings ######

# Ranger/LF set editor
export EDITOR=nvim
export VISUAL=nvim

# Activate vi mode with <Escape>
set -o vi

###### Work ######
alias goprojects="create_tmux_window ~/projects"
alias gowork="create_tmux_window ~/work"
alias gowork="create_tmux_session ~/work" # ; if [[ -z "$TMUX" ]]; then tmux a; else tmux switch-client; fi" #  | xargs -I{} tmux a -t {}
alias gofocal="create_tmux_session ~/work/focaldata" # ; if [[ -z "$TMUX" ]]; then tmux a; else tmux switch-client; fi" #  | xargs -I{} tmux a -t {}

# Go binaries install with 'go install'
export PATH="$PATH:$HOME/go/bin"
# Open IntelliJ with command: idea
export PATH="/Applications/IntelliJ IDEA CE.app/Contents/MacOS:$PATH"

# Where user-specific configurations should be written
# Lazygit requires this for MacOS, other wise the configs need to be in:
# ~/Library/Application\ Support/lazygit/config.yml
export XDG_CONFIG_HOME="$HOME/.config"

# For dart installed plugins
export PATH="$PATH":"$HOME/.pub-cache/bin"
# Anroid emulator
export PATH="$PATH":"$HOME/Library/Android/sdk/emulator"

