let mapleader="d"
" let mapleader="\<Space>"
" let mapleader=' '

set clipboard+=unnamed
set number relativenumber

" NERDTree
set NERDTree
map <C-e> <Action>(NERDTreeFocus)
map <leader>e <Action>(NERDTreeToggle)

map [g :action GotoNextError<CR>
map ]g :action GotoPreviousError<CR>

nnoremap <Leader>f :action ShowNavBar<CR>
nnoremap <Leader>s :action FileStructurePopup<CR>
nnoremap <Leader>v :action Vcs.QuickListPopupAction<CR>
nnoremap <Leader>b :action Vcs.ShowBranches<CR>
nnoremap <Leader>z :action ToggleZenMode<CR>
nnoremap <Leader>p :action TogglePresentationMode<CR>
