[includeIf "gitdir:~/Documents/"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/projects/"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/work/"]
  path = ~/.gitconfig-work
[push]
	default = current
[pull]
	rebase = false
[fetch]
	prune = true
