[Unit]
Description=CLIProxyAPI
After=network.target

[Service]
ExecStart=/home/linuxbrew/.linuxbrew/bin/cliproxyapi -config %h/.config/cliproxyapi/config.yaml
Restart=on-failure

[Install]
WantedBy=default.target
